<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Dwayne Codling thoughts and insight into his Journey.">
    <title>Latest Post</title>
    <%- include("../partials/links") %>
</head>
<body>
<%- include("../partials/nav") %>
<main class="content" role="main">

    <section>

        <div class="container">
            <div class="hero__content footer__content">
                <p class="hero__subheading">What I'm Thinking</p>
                <h2 class="hero__heading">An <strong>insight</strong> into my journey</h2>
            </div>
        </div>
    </section>

    <section class="card-wrapper">
        <div class="container">
            <div class="my-posts__filter--mobile">
                <label class="my-posts__filter--label" for="track-select">View all or Events or Notes</label>
                <div class="my-posts__filter" data-filter-mobile="speaker_track">
                    <select id="track-select" class="my-posts__select" name="field" data-ui="0" data-ajax="0" data-multiple="0" data-placeholder="Select" data-allow_null="0">
                        <option value="all">all</option>
                        <option value="events">events</option>
                        <option value="notes">notes</option>
                    </select>
                </div>
            </div>
            <ul class="my-posts__filter--desktop">
                <li class="my-posts__item">View All</li>
                <li class="my-posts__item">Events</li>
                <li class="my-posts__item">Notes</li>
            </ul>
            <article class="grid grid--card-list">
                <% for (let currentArticle of posts){ %>
                    <article class="grid__card-item">
                        <a href="/post/<%= currentArticle.data.slug %>" class="card">
                            <picture class="card__img-container">
                                <source type="image/jpeg" data-srcset="<%= currentArticle.data.hero.lrg_jpeg %>">
                                <source type="image/webp" data-srcset="<%= currentArticle.data.hero.sml_webp %>">
                                <source type="image/webp" data-srcset="<%= currentArticle.data.hero.lrg_webp %>">
                                <img class="card__img lazyload"
                                     data-src="<%= currentArticle.data.hero.main %>"
                                     alt="<%= currentArticle.data.alt %>"
                                     height="160"
                                     width="360"/>
                            </picture>
                            <div class="card__content">
                                <time datetime="2020-14-06" class="card__date"><%= currentArticle.data.date %></time>
                                <h3 class="card__header"><%- currentArticle.data.title %></h3>
                                <p class="card__text"><%- currentArticle.data.excerpt %></p>
                            </div>
                            <time  datetime="PT10M" class="card__read-time">
                                <%= currentArticle.data.readTime %> READ
                            </time>
                        </a>
                    </article>
                <% } %>
            </article>
            <div class="container">
                <div class="button__align--center">
                    <button class="button button--load-more">Load more</button>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("../partials/footer") %>
<script src="/assets/js/lazysizes.min.js" async></script>
</body>
</html>